<div class='shout'>
  <div class='avatar'><%= gravatar(shout.user) %></div>
  <div class='user_email'><%= link_to shout.user_email, shout.user %></div>
  <div class='shout_content'><%= render shout.content %></div>
  <div class='time'><%= time_ago_in_words(shout.created_at) %> ago</div>
</div>